<module xmlns="urn:jboss:module:1.9" name="org.camunda.spin.camunda-spin-dataformat-json-jackson">
  <resources>
    <artifact name="${org.camunda.spin:camunda-spin-dataformat-json-jackson}"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>

    <module name="org.camunda.spin.camunda-spin-core" />
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-utils" />
    <module name="org.camunda.commons.camunda-commons-typed-values" />

    <module name="com.fasterxml.jackson.core.jackson-databind"/>
    <module name="com.jayway.jsonpath.json-path" />
  </dependencies>

</module>
