<module xmlns="urn:jboss:module:1.9" name="org.camunda.bpm.dmn.camunda-engine-feel-juel">
  <resources>
    <artifact name="${org.camunda.bpm.dmn:camunda-engine-feel-juel}"/>
  </resources>

  <dependencies>
    <module name="org.camunda.bpm.dmn.camunda-engine-feel-api" />
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-typed-values" />
    <module name="org.camunda.commons.camunda-commons-utils" />
  </dependencies>
</module>
