<module xmlns="urn:jboss:module:1.9" name="org.camunda.bpm.identity.camunda-identity-ldap">
  <resources>
    <artifact name="${org.camunda.bpm.identity:camunda-identity-ldap}"/>
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="javax.api" />
    <module name="org.camunda.bpm.camunda-engine" />
    <module name="org.camunda.commons.camunda-commons-logging" />

  </dependencies>
</module>
