<module xmlns="urn:jboss:module:1.9" name="org.camunda.connect.camunda-connect-core">
  <resources>
    <artifact name="${org.camunda.connect:camunda-connect-core}"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.camunda.commons.camunda-commons-logging" />
    <module name="org.camunda.commons.camunda-commons-utils" />
  </dependencies>
</module>
