<module xmlns="urn:jboss:module:1.9" name="org.camunda.commons.camunda-commons-utils">
  <resources>
    <artifact name="${org.camunda.commons:camunda-commons-utils}"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.camunda.commons.camunda-commons-logging" />
  </dependencies>
</module>
